---

---

<section class="w-full h-full px-5 sm:px-[2vw]">
   <div class="flex w-full h-[calc(100dvh-3.5rem)]">
      <div class="my-4 w-full">
         <div class="h-2/5">
            <h1 class="text-8xl text-center text-primary font-bold">
               Designer &
            </h1>
            <h1 class="text-8xl text-center text-primary font-bold">
               Developer
            </h1>
         </div>
         <div class="h-3/5">
            <div class="mt-">big image</div>
         </div>
      </div>
   </div>
</section>
