---
import ParagraphAnimation from "./ParagraphAnimation.astro";
---

<section class="w-full h-full px-5 sm:px-[4vw] mt-20">
   <ParagraphAnimation />
</section>

<section class="mt-20">
   <div class="w-full h-screen bg-primary">
      <p>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae fuga
         earum soluta provident saepe maiores impedit nihil est eos numquam
         doloribus, cum sapiente cupiditate incidunt culpa error exercitationem
         autem dolorum?
      </p>
   </div>
</section>
